body {
    background-image: url('/static/img/Football-field.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    margin: 0;
}