<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <title>Cadastro de Shows</title>
</head>
<body>
    <form action="/cadastro" method="post">

        <label for="">Cantor/Banda: </label>
        <input type="text" name="nome">

        <label for="">Discografia: </label>
        <input type="text" name="discografia">

        <label for="">Show:  </label>
        <input type="text" name="show">
        
        <label for="">Cidade:  </label>
        <input type="text" name="cidade">
        
        <label for="">Data:  </label>
        <input type="text" name="data">

        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>