<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <title>Cadastro de Times</title>
</head>
<body>
    <form action="/cadastro" method="post">

        <label for="">Nome: </label>
        <input type="text" name="nome">

        <label for="">Estado: </label>
        <input type="text" name="estado">

        <label for="">Apelido: </label>
        <input type="text" name="apelido">

        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>