{% extends "base.html" %}
{% block title %}ClubesBR: Tudo sobre futebol{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <fieldset class="border p-4">
            <legend class="w-auto">Times do Brasil</legend>
            <div class="table-responsive">
                <table class="table table-hover table-striped custom-table">
                    <thead class="thead-dark custom-th">
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Apelido</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for time in lista %}
                        <tr>
                            <td class="text-center custom-text">{{ time[1] }}</td>
                            <td class="text-center custom-text">{{ time[2] }}</td>
                            <td class="text-center custom-text">{{ time[3] }}</td>
                            <td class="text-center custom-text">
                                <a href="{{ url_for('editar_time', id=time[0]) }}" class="btn btn-success btn-sm" role="button">Atualizar</a>
                                <form action="{{ url_for('deletar_time', id=time[0]) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este time?');">Deletar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}